# Home Assistant Add-on Repository Configuration
# Place this file at the root of your GitHub repository

name: {{REPOSITORY_NAME}}
url: 'https://github.com/{{GITHUB_USERNAME}}/{{REPOSITORY_SLUG}}'
maintainer: {{MAINTAINER_NAME}} <{{MAINTAINER_EMAIL}}>
